/* img {
    height:300px !important
} */


body {
  background-color: #ededed!important;
  }
  
  .card {
  border:none !important
  }
.code-snippet {
  white-space: pre-line;
  background-color: black;
  color: white;
  padding: 30px;
}